body, html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#coming_soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100px;
  padding: 20px;
  max-width: 600px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
  backdrop-filter: blur(1.5px);
  border: 1px solid rgba(85, 85, 85, 0.21);
  z-index: 2;
}

#coming_soon img {
  max-width: 200px;
  max-height: 150px;
}

#coming_soon p {
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  animation: 2s ease-in-out 0s infinite alternate none running glow;
}

@keyframes glow {
  0%, 100% {
      text-shadow: white 0px 0px 10px, white 0px 0px 20px, white 0px 0px 30px, blue 0px 0px 40px, blue 0px 0px 70px, blue 0px 0px 80px, blue 0px 0px 100px, blue 0px 0px 150px;
  }

  50% {
      text-shadow: white 0px 0px 5px, white 0px 0px 10px, white 0px 0px 15px, blue 0px 0px 20px, blue 0px 0px 35px, blue 0px 0px 40px, blue 0px 0px 50px, blue 0px 0px 75px;
  }
}

#space-canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
